@use "./color" as *;
@use "./unit" as *;

$colors: (
  "Book": $green,
  "News": $yellow,
  "Board": $brown,
  "Favorite": $orange,
  "Twitter": $blue,
);

@each $color, $color-value in $colors {
  .accent#{$color} {
    color: $color-value;
  }
}

$accents: (book, news, board, favorite, twitter);

@each $accent in $accents {
  .accent#{$accent} {
    color: "$accent-" + #{$accent};
  }
}

// .accentBook {
//   color: $accent-book;
// }
// .accentNews {
//   color: $accent-news;
// }
// .accentBoard {
//   color: $accent-board;
// }
// .accentFavorite {
//   color: $accent-favorite;
// }
// .accentTwitter {
//   color: $accent-twitter;
// }

.sprite {
  min-height: rem(60px);
  background-image: url(./../assets/images/sprite_main.png);
  background-repeat: no-repeat;
  padding-left: rem(64px);

  $sprites: Book, Board, News, Favorite, Twitter;
  $x: 0;
  $y: 0;

  @each $sprite in $sprites {
    &#{$sprite} {
      background-position: $x $y;
    }
    $y: $y - 115px;
  }
}
