@use "./../utils" as *;

.menu {
  background: pink;

  &.is-active .menu__list {
    transform: none;
  }

  @include desktop {
    background: $secondary-color;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    margin-right: initial;
  }

  //메뉴 리스트
  &__list {
    @include mobile {
      @include posLeft($t: 0, $l: 0, $pos: absolute);
      background: yellow;
    }

    @include desktop {
      @include flexbox($j: space-around);
    }
  }

  //메뉴 아이템
  &__item {
    @include desktop {
      @include marginY(30px);
    }
  }

  //메뉴 링크
  &__link {
    @include desktop {
      @include paddingY(16px);
      color: $white;
      font-weight: 700;
      text-shadow: 1px 1px 0 $silver, -1px -1px 0 $silver;
    }
  }
}
